@import "./utils/variables";
@import "./components/body";

@import "./components/page-header";
@import "./components/page-header-nav";
@import "./components/logo-header";
@import "./components/address-header";
@import "./components/overlay";
@import "./components/section-hero";
@import "./components/button-hero";
@import "./components/modal-window";
@import "./components/advantages";
@import "./components/works";
@import "./components/our-team";
@import "./components/icone-our-team";
@import "./components/clients";
@import "./components/page-footer";
@import "./components/logo&address-footer";
@import "./components/icone-footer";
@import "./components/subscribing-footer";
@import "./components/copy";
