.join {
  display: flex;
  align-items: baseline;
  margin-top: 68px;
  margin-bottom: 20px;

  color: $secondary-text-color;

  font-family: $font-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
}
.icone-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 16px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 10px;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: grey;
  fill: $secondary-text-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus-within {
    cursor: pointer;
    background-color: $accent-color;
  }
}
.social-link {
  fill: $secondary-text-color;
}
