.team-bg {
  background: #f5f4fa;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.item-team {
  background-color: $secondary-text-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-list {
  @media screen and (min-width: $mobile) {
    /*display: flex;
    flex-wrap: wrap;*/
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 94px;
  }

  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 94px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 94px;
  }
  .item-team {
    @media screen and (min-width: $mobile) {
      margin: 15px;
    }

    @media screen and (min-width: $tablet) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
      align-items: center;
      width: 270px;
    }

    @media screen and (min-width: $desktop) {
      width: calc((100% - 4 * 15px) / 4);
      margin: 0px 15px;
      align-items: center;
      width: 270px;
    }
  }
}
.team-title {
  color: $secondary-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.text-team {
  margin: 0;
  margin-top: 10px;
  color: $paragraph-text-color;

  font-size: 16px;
  line-height: 1.19;
}
