.nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin: 0;

  position: relative;

  & .item:not(:last-child) {
    margin-right: 50px;
  }

  & .item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav .link {
  color: $primary-text-color;

  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.link.current-portfolio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 98px;
  width: 77px;
  height: 4px;

  background-color: $accent-color;
  border-radius: 2px;
}
.site-nav .link.current-portfolio {
  color: $accent-color;
}
